<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketplace | Login</title>
    <link rel="stylesheet" href="../styles/login.css">
</head>
<body>
    <header class="marketplace-header">
        <div class="header-info">
            <img src="../images/marketplace.png">
            <h1 class="header-title">Marketplace</h1>
        </div>
        <div class="header-navigation">
            <nav>Marketplace</nav>
            <nav>Rankings</nav>
            <nav>Connect a wallet</nav>
            <a href="#" class="btn-sign-up">
                <img src="../images/user_icon-sign_up.png">
                Sign Up
            </a>
        </div>
    </header>
    <main>
        <section class="section-create-account">
            <div class="create-account-img">
                <img src="../images/create-account.png">
            </div>
            <div class="create-account-info">
                <article class="create-account-text">
                    <h2 class="create-account-title">Create account</h2>
                    <p class="create-account-desc">Welcome! enter your details and start <br>creating, collecting and selling NFTs.</p>
                </article>
                <form action="" class="create-account-form">
                    <div class="create-account-input">
                        <input type="text" placeholder="Username" class="create-account-field">
                        <input type="text" placeholder="Email Address" class="create-account-field">
                        <input type="text" placeholder="Password" class="create-account-field">
                        <input type="text" placeholder="Confirm Password" class="create-account-field">
                    </div>
                    <div class="account-submit-data">
                        <button class="create-account-btn">
                            <span>Create account</span>
                        </button>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <footer class="page-footer">
       <article class="page-footer-info">

       </article> 
       <article class="page-footer-rights">

       </article>
    </footer>
</body>
</html>